.App-PHOTO img{
    height:100vh;
    width:100%;
}
.App-PHOTO{
    flex:1;
}
.App-header{
    display: flex;
    height:100vh;
    margin:none;
}
.App-intro{
    color:gray;
    position: relative;
    top:40px;
}
span {
color: rgb(0, 153, 153);
font-size: 38px;
font-family: 'Lily Script One' cursive;
margin:none;
align-self: center;
position: absolute;
bottom:575px;
}



.container {
display: flex;
position: relative;
bottom:20px;
margin:none;
flex-direction: column;
justify-content: center;
padding:10px;
width:230px;
}

em {
position: relative;
bottom:20px;
color: gray;
text-align: center;
font-family: 'Dosis', sans-serif;
font-size: 18px;  
}

input[type=text] {
padding:5px; 
border:2px solid #ccc; 
margin-top:5px;
width:200px;
}

input[type=submit] {
padding:5px 15px;
border:0 none;
cursor:pointer;
width:200px;
height:35px;
margin:none;
background-color:rgb(0, 153, 153);
color:white;
}